html {
    background-color: red;
}

#titre-principal {
    text-align: center;
}

#titre-principal h1{
    color: white;
    font-size: 250% ;
}

#bouton {
    text-align: center;
}

#bouton .material-symbols-outlined{
    font-size: 400%;
}

#chrono {
    text-align: center;
    font-size: 300%;
    margin-bottom: 10%;
    shape-outside: circle(50%);
    text-decoration: circle(50%);
    color: aliceblue;
}

#chronoc {
    text-align: center;
    background-color: black;
    clip-path: circle(100%);
}

#progress-bar {
    stroke:#ff0000;
    stroke-width:6px;
    stroke-linecap: round;
    fill:transparent;
    stroke-dasharray:471;
    stroke-dashoffset: 0;
}

#progress {
    fill:transparent;
    stroke:#b0b0b0;
    stroke-width:11;
    stroke-dasharray:471;
    stroke-dashoffset:0;
}